.container {
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  viewport-fit: cover;
}
.flexcontainer {
  display: flex;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 30%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
/*button*/
.myButton {
  background-color: #4ecca3;
  border-radius: 30px;
  border: 8px solid #404e49;
  display: inline-block;
  cursor: pointer;
  margin: auto;
  color: #ffffff;
  font-family: Arial;
  text-align: center;
  padding: 0px;
  border: 3px solid green;
  font-size: 17px;
  padding: 19px 76px;
  text-decoration: none;

  text-shadow: 0px 1px 0px #2f6627;
}
.myButton:hover {
  background-color: #5cbf2a;
}
.myButton:active {
  position: relative;
  top: 1px;
}
@media (min-width: 706px) {
  .myButton {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
#btn {
  padding-top: 50px;
}
/*.angry {
  width: 20%;
  height: 30%;
  display: flex;
  justify-content: left;
  position: absolute;
  left: 5%;
  top: 40%;
  padding-top: 50;

  align-items: flex-end;
  justify-content: center;
  visibility: hidden;
}
.angry1 {
  width: 20%;
  height: 30%;
  display: flex;
  justify-content: right;
  position: absolute;
  right: 5%;
  top: 40%;
  padding-top: 50;
  visibility: hidden;
}
.hey {
  visibility: visible;
}
.hey1 {
  visibility: visible;
}
@media (max-width: 520px) {
  .angry {
    width: 10%;
    height: 15%;
  }
  .angry1 {
    width: 10%;
    height: 15%;
  }
  h1 {
    text-shadow: 3px 0 #232931;
    font-size: 50px;
  }
}
*/
#emoji {
  width: 100px;
  display: flex;
  justify-content: left;
  align-items: flex-end;
}
#right {
  width: 100px;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}
@media (max-width: 520px) {
  h1 {
    text-shadow: 3px 0 #232931;
    font-size: 50px;
  }
  #emoji {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row-reverse;
    margin-right: 30px;
  }
  #right {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row-reverse;
    margin-left: 40px;
  }
}
